.vc_row {
    color: #000000;
    font-family: Roboto;
    // font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;
    background-color: #c6c1c122;

    .container {
        width: 100%;

        .vc_row-fluid {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            margin-left: -15px;
            margin-right: -15px;
        
            .wpb_column {
                padding-right: 15px;
                padding-left: 15px;

                .wpb_wrapper {
                box-sizing: border-box;
                width: 100%;

                .houzez-module {
                    padding: 55px 0 0 0!important;
                    text-align: center;

                    h2 {
                        font-size: 24px;
                        line-height: 32px;
                        margin: 0 0 10px 0;
                        font-weight: 500;
                        text-transform: inherit;
                        text-align: inherit;
                    }
                    .sub-heading {
                        font-size: 16px;
                        line-height: 24px;
                        text-transform: inherit;
                        text-align: inherit;
                        margin: 0 0 20px 0;
                    }

                    h3 {
                        color: inherit;
                    }
                }

                .vc_empty_space {
                    height: 30px;
                }

                .vc_row {
                    display: flex;
                    flex-wrap: wrap;

                    .vc_col-sm-3 {
                        padding-left: 0;
                        padding-right: 0;
                        position: relative;
                        width: 25%;
                        min-height: 1px;

                        .vc_column-inner {
                            box-sizing: border-box;
                            padding-left: 15px;
                            padding-right: 15px;
                            width: 100%;

                            .wpb_wrapper {
                                .team-block {
                                    position: relative;
                                    overflow: hidden;
                                    margin-bottom: 10px;
                                    &:hover .team-caption-after{
                                            transform: translate3d(0%,0,0);
                                         
                                            .team-caption-inner .team-name a:hover {
                                                color: rgb(65, 96, 222);
                                            }

                                            .team-caption-inner .team-designation a:hover {
                                                color: rgb(65, 96, 222);
                                            }

                                            .team-caption-inner .team-social a {
                                                color: rgb(115, 112, 112);
                                                &:hover {
                                                    color: rgb(65, 96, 222);
                                                }
                                            }
                                        }

                                    &:hover .team-caption-before {
                                        opacity: 0.2;

                                        .team-caption-in {
                                            display: none;
                                        }
                                    }

                                    .team-block-mobile {
                                        position: absolute;
                                        height: 100%;
                                        z-index: 1;
                                        top: 0;
                                        left: 0;
                                    }
                                    
                                    img {
                                        width: 100%;
                                    }

                                    .team-caption {
                                        position: absolute;
                                        transition: all .9s cubic-bezier(.19,1,.22,1) 0s;
                                        height: 100%;
                                        width: 100%;
                                        top: 0;
                                        right: 0;
                                        left: 0;

                                        .team-caption-inner {
                                            position: absolute;
                                            bottom: 0;
                                            right: 0;
                                            left: 0;
                                            overflow: auto;
                                            max-height: 100%;
                                            padding: 15px 20px;
                                            text-align: center;

                                            .team-name {
                                                font-size: 16px;
                                                line-height: 20px;
                                                font-weight: 700;
                                                margin: 0 0 8px;
                                                color: #fff;
                                            }
                                            h4 {
                                                font-family: Roboto;
                                                font-weight: 500;
                                                text-transform: inherit;
                                                text-align: inherit;
                                            }
                                            .team-designation {
                                                font-size: 14px;
                                                line-height: 18px;
                                                font-weight: 400;
                                                margin: 0 0 12px;
                                                color: #fff;
                                            }

                                            .team-social {
                                                margin: 0!important;
                                                padding: 0!important;
                                                list-style: none;

                                                a {
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                    color: #fff;
                                                }

                                                li {
                                                    display: inline-block;
                                                    margin-right: 6px;

                                                    .btn-link {

                                                    }
                                                }
                                            }
                                        }
                                    } 
                                    
                                    .team-caption-before {
                                        bottom: 0;
                                        transform: translate3d(0,0,0);
                                        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 55%,rgba(0,0,0,.8) 100%);

                                        
                                    }
                                    
                                    .team-caption-after {
                                        background-color: rgba(255,255,255,.9);
                                        -webkit-transform: translate3d(100%,0,0);
                                        transform: translate3d(100%,0,0);

                                        .team-caption-inner {
                                            -webkit-transform: translate(0,-50%);
                                            top: 10%;
                                            transform: translate(0, 0%);

                                            .team-designation a{
                                                // font-size: 14px;
                                                line-height: 23px;
                                                color: rgb(9, 9, 9);
                                            }

                                            .desc {
                                                color: rgba(0,0,0,.7);
                                                font-size: 14px;
                                                margin-bottom: 20px;
                                            }
                                            .team-name a{
                                                color: #000;
    
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}

@media screen and (max-width: 991px){
    .vc_row .container .vc_row-fluid {
        margin: 0 ;
    }
    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .houzez-module {
        padding: 55px 40px 0 40px !important;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3 .vc_column-inner {
        padding: 0 10px;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3{
        width: 50%;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3 .vc_column-inner .wpb_wrapper .team-block .team-caption .team-caption-inner .team-name{
        font-size: 15px;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3 .vc_column-inner .wpb_wrapper .team-block .team-caption .team-caption-inner .team-designation {
        font-size: 13px;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3 .vc_column-inner .wpb_wrapper .team-block .team-caption-after .team-caption-inner .desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .vc_row .container .vc_row-fluid {
        margin: 0 ;
    }
    .vc_row .container .vc_row-fluid .wpb_column {
        padding: 0 30px;
    }
    .vc_row .container .vc_row-fluid .wpb_column {
        padding: 0;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3{
        width: 50%;
    }
}

@media screen and (max-width: 481px){
    .vc_row .container .vc_row-fluid {
        margin: 0 ;
    }
    .vc_row .container .vc_row-fluid .wpb_column {
        padding: 0 30px;
    }
    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row {
        display: block;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .houzez-module {
        padding: 55px 0px 0 0px !important;
        margin: 0 25px;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .houzez-module h2{
        font-size: 23px;
    }

    .vc_row .container .vc_row-fluid .wpb_column .wpb_wrapper .vc_row .vc_col-sm-3{
        width: 100%;
    }
}