.section-partners {
  .partners-title {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 40px;
  }
  padding: 90px 0;
  background-color: #F5F5F5;
  .partner-wrapper {
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    .partner-wrapper-link {
      padding: 10px 0;
      display: flex;
      justify-content: center;
    }
  }
  .slick-dots li button::before {
    font-size: 13px;
  }
  .slick-arrow::before {
    border: 1px solid #3EC0F1;
    border-radius: 5px;
    position: absolute;
  }
  .slick-arrow  {
    top: -70px;
  } 
  .slick-prev {
  }
  .slick-next {
    right: 28px;
  }
  button.slick-arrow.slick-prev  {
    left: 92%;
  }
  .slick-prev:before {
    padding: 3px 5px;
    color: #3EC0F1;
    font-size: 12px;
    content: "Prve";
  }
  .slick-next:before {
    padding: 3px 5px;
    color: #3EC0F1;
    font-size: 12px;
    content: 'Next';
  }
}