.btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #00AEEF;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-radius: 10%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    width: 42px;
    color: #fff;
    line-height: 36px;
    transition: all 0.5s ease;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: #172afd;
    }
}