.banner-common {
  .banner-wrapper {
    padding-bottom: 200px;
  }
  .image-wrapper img {
    height: 400px;
  }
  .bg-wrapper-common {
    height: 400px;
  }
  .common-content-wrapper {
    position: relative;
    z-index: 100;
    margin-top: -230px;
    color: #FFFFFF;
    text-align: center;
    h1 {
      font-size: 43px;
      line-height: 43px;
      font-weight: 500;
    }
    h2 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}