@media screen and (max-width: 992px) {
  .banner-common .common-content-wrapper h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

/* UI Tablet */
@media screen and (max-width: 768px) {
  .banner-common .common-content-wrapper h1 {
    font-size: 24px;
    line-height: 28px;
  }
}

/* UI Phone */
@media screen and (max-width: 480px) {
  .banner-common .common-content-wrapper h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .banner-common .common-content-wrapper h2 {
    font-size: 16px;
    line-height: 22px; 
  }
}