.nav-mobile-list {
  padding-left: unset;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.95);
  position: absolute;
  top: 105px;
  .nav-mobile-item {
    color: #004274;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    padding: 15px 23px;
    border-bottom: 1px solid #ffffff;
  }
  .expand-me{
    padding: unset;
    a {
      padding: 15px 22px;
    }
    .mobile-link-wrapper {
      padding: 15px 0;
    }
  }
  .mobile-link-wrapper::after {
    position: absolute;
    right: 22px;
    font-family: FontAwesome;
    content: '\f0da';
  }
  .sub-mobile-list {
    display: none;
    padding-left: unset;
    background-color: #30C7FF;
    .sub-mobile-item {
      border-right: unset !important;
      border-left: unset !important;
      border: 1px solid #ffffff;
      padding: 15px 0;
    }
  }
  .mobile-list-active {
    transition: all 0.3s ease-in-out;
    display: block;
  }
  .expand-active {
    .mobile-link-wrapper::after {
      content: '\f0d7';
    }
  }
}